In [1]:
!pwd

/home/ubuntu/dyanye_clothing_era_classifier/notebook

In [2]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
db = client.fashion

In [5]:
collection = db.fashion
data = pd.DataFrame(list(collection.find()))

In [6]:
list(collection.find_one())

['_id',
 'image',
 'rgba_arr',
 'name',
 'medium',
 'date',
 'country',
 'credit',
 'description',
 'object number']

In [7]:
blah = list(collection.find())

In [8]:
terms = []
for item in blah:
    for key in item:
        terms.append(key)
from collections import Counter
Counter(terms)

Counter({'_id': 1001,
         'country': 999,
         'credit': 1000,
         'date': 1001,
         'description': 588,
         'image': 1001,
         'medium': 1000,
         'name': 1001,
         'object number': 1001,
         'rgba_arr': 1001})

In [9]:
collection.find().count()

1001

In [10]:
type(data)

pandas.core.frame.DataFrame

In [11]:
data.describe()

,_id,country,credit,date,description,image,medium,name,object number,rgba_arr
count,1001,999,1000,1001,588,1001,1000,1001,1001,1001
unique,1001,23,490,397,563,936,837,122,970,936
top,59e6b7dd0386b0109bb38220,France,Museum purchase,1968,"The simple, tubular mini dress was ubiquitous ...",b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Cotton,Evening dress,P90.25.6,b'\x80\x03cnumpy.core.multiarray\n_reconstruct...
freq,1,378,175,20,8,4,22,162,2,4

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 10 columns):
_id              1001 non-null object
country          999 non-null object
credit           1000 non-null object
date             1001 non-null object
description      588 non-null object
image            1001 non-null object
medium           1000 non-null object
name             1001 non-null object
object number    1001 non-null object
rgba_arr         1001 non-null object
dtypes: object(10)
memory usage: 78.3+ KB

In [41]:
df['date'] = df['date'].str.strip()

In [14]:
import re

In [15]:
df = data.copy()

In [36]:
df[df['date'].str.contains('c.')]

Empty DataFrame
Columns: [_id, country, credit, date, description, image, medium, name, object number, rgba_arr, circa]
Index: []

In [17]:
mask = df['date'].str.contains('c.')

In [18]:
df['season'] = mask

In [19]:
df.shape

(1001, 11)

In [33]:
df[df['date'] == ]

KeyError: 10

In [31]:
df['date']

0                     1912
1                     1918
2                     1900
3                     1916
4                     1916
5                     1913
6                     1910
7                     1903
8                     1907
9                     1915
10                    1907
11        Early 20th ntury
12               1910-1920
13               1914-1918
14                    1908
15                    1904
16                    1909
17                    1913
18                    1888
19                    1904
20                    1910
21                    1900
22                    1910
23                    1904
24                    1912
25                    1900
26               1900-1905
27                    1905
28                    1908
29                    1905
               ...
971              Fall 2010
972            Spring 2010
973            Spring 2011
974              Fall 2011
975            Spring 2011
976                   2014
977            Spring 2010
978              Fall 2010
979              Fall 2010
980            Spring 2011
981              Fall 2010
982            Spring 2011
983            Spring 2015
984              Fall 2015
985              Fall 2016
986              Fall 2012
987                   2010
988              Fall 2010
989     Spring/Summer 2010
990            Spring 2011
991              Fall 2010
992            Spring 2010
993            Spring 2010
994            Spring 2013
995            Spring 2015
996                   2010
997            Spring 2011
998       Fall/Winter 2010
999                   2014
1000                  2014
Name: date, Length: 1001, dtype: object

In [37]:
df['date'] = df['date'].str.replace('c. ', '')

In [38]:
df['date']

0                     1912
1                     1918
2                     1900
3                     1916
4                     1916
5                     1913
6                     1910
7                     1903
8                     1907
9                     1915
10                    1907
11        Early 20th ntury
12               1910-1920
13               1914-1918
14                    1908
15                    1904
16                    1909
17                    1913
18                    1888
19                    1904
20                    1910
21                    1900
22                    1910
23                    1904
24                    1912
25                    1900
26               1900-1905
27                    1905
28                    1908
29                    1905
               ...
971              Fall 2010
972            Spring 2010
973            Spring 2011
974              Fall 2011
975            Spring 2011
976                   2014
977            Spring 2010
978              Fall 2010
979              Fall 2010
980            Spring 2011
981              Fall 2010
982            Spring 2011
983            Spring 2015
984              Fall 2015
985              Fall 2016
986              Fall 2012
987                   2010
988              Fall 2010
989     Spring/Summer 2010
990            Spring 2011
991              Fall 2010
992            Spring 2010
993            Spring 2010
994            Spring 2013
995            Spring 2015
996                   2010
997            Spring 2011
998       Fall/Winter 2010
999                   2014
1000                  2014
Name: date, Length: 1001, dtype: object

In [23]:
df['date'].str.contains('c. ').count()

1001

In [24]:
data[data['date'].str.contains('-')].count()

_id              79
country          79
credit           78
date             79
description      49
image            79
medium           78
name             79
object number    79
rgba_arr         79
dtype: int64

In [25]:
data[data.date.str.contains('c. ')].count()

_id              138
country          138
credit           138
date             138
description       86
image            138
medium           138
name             138
object number    138
rgba_arr         138
dtype: int64

In [26]:
data.date[~ data.date.str.match('\d')]

0                  c.1912
1                 c. 1918
2                  c.1900
3                  c.1916
4                 c. 1916
5                  c.1913
6                  c.1910
7                  c.1903
9                 c. 1915
11     Early 20th century
12            c.1910-1920
14                 c.1908
15                 c.1904
16                c. 1909
18                c. 1888
19                 c.1904
20                c. 1910
21                 c.1900
22                 c.1910
25                 c.1900
27                c. 1905
29                c. 1905
30                c. 1918
32                c. 1915
33                c. 1917
35                 c.1915
36                c. 1907
37                c. 1913
39                c. 1902
40                 c.1915
              ...
965             Fall 2014
967             Fall 2013
968           Spring 2011
969           Spring 2011
970           Spring 2010
971             Fall 2010
972           Spring 2010
973           Spring 2011
974             Fall 2011
975           Spring 2011
977           Spring 2010
978             Fall 2010
979             Fall 2010
980           Spring 2011
981             Fall 2010
982           Spring 2011
983           Spring 2015
984             Fall 2015
985             Fall 2016
986             Fall 2012
988             Fall 2010
989    Spring/Summer 2010
990           Spring 2011
991             Fall 2010
992           Spring 2010
993           Spring 2010
994           Spring 2013
995           Spring 2015
997           Spring 2011
998      Fall/Winter 2010
Name: date, Length: 636, dtype: object

In [27]:
data.date[~ data.date.str.match('\d\d\d\d$|\d\d\d\d-\d\d\d\d')]

0                  c.1912
1                 c. 1918
2                  c.1900
3                  c.1916
4                 c. 1916
5                  c.1913
6                  c.1910
7                  c.1903
9                 c. 1915
11     Early 20th century
12            c.1910-1920
14                 c.1908
15                 c.1904
16                c. 1909
18                c. 1888
19                 c.1904
20                c. 1910
21                 c.1900
22                 c.1910
25                 c.1900
27                c. 1905
29                c. 1905
30                c. 1918
32                c. 1915
33                c. 1917
35                 c.1915
36                c. 1907
37                c. 1913
39                c. 1902
40                 c.1915
              ...
965             Fall 2014
967             Fall 2013
968           Spring 2011
969           Spring 2011
970           Spring 2010
971             Fall 2010
972           Spring 2010
973           Spring 2011
974             Fall 2011
975           Spring 2011
977           Spring 2010
978             Fall 2010
979             Fall 2010
980           Spring 2011
981             Fall 2010
982           Spring 2011
983           Spring 2015
984             Fall 2015
985             Fall 2016
986             Fall 2012
988             Fall 2010
989    Spring/Summer 2010
990           Spring 2011
991             Fall 2010
992           Spring 2010
993           Spring 2010
994           Spring 2013
995           Spring 2015
997           Spring 2011
998      Fall/Winter 2010
Name: date, Length: 645, dtype: object

In [28]:
def clean_year(s):
    s = s.strip()
    str_to_strip = ['c.', 'c. ', 'summer', 'spring', 'fall', 'winter',]
    if s[0:2] = 'c.':
        s = s.replace('c.', '')

SyntaxError: invalid syntax (<ipython-input-28-be6e661e7ace>, line 4)

In [ ]:
db.fashion['name'].count()

In [ ]:
db.collection_names(include_system_collections=False)

In [ ]:
'_id', 'country', 'credit', 'date', 'description', 'image',

In [ ]:
db.fashion.find_one()

In [ ]:
data.head()